<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="GetDevice"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="GetDevice"
           UpgradeCode="5E3D12B4-9C6A-4F8D-8A2E-1B7C3D4E5F60">

    <MajorUpgrade DowngradeErrorMessage="A newer version of GetDevice is already installed." />

    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="GetDevice" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="GetDevice" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="GetDevice.exe" Bitness="always64" Guid="A1B2C3D4-E5F6-4712-89AB-CDEF01234567">
        <File Id="GetDevice.exe" Source="$(var.GetDevice.TargetDir)\GetDevice.exe" KeyPath="yes" />
      </Component>
      <Component Id="GetDevice.dll" Bitness="always64" Guid="12345678-9ABC-4DEF-0123-456789ABCDEF">
        <File Id="GetDevice.dll" Source="$(var.GetDevice.TargetDir)\GetDevice.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="Shortcut" Guid="FEDCBA98-7654-3210-FEDC-BA9876543210">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="GetDevice"
                  Description="GetDevice - Device Information Exporter"
                  Target="[INSTALLFOLDER]GetDevice.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\GetDevice"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="GetDevice" Level="1">
      <ComponentRef Id="GetDevice.exe" />
      <ComponentRef Id="GetDevice.dll" />
      <ComponentRef Id="Shortcut" />
    </Feature>
  </Package>
</Wix>
